<!DOCTYPE html>
<html lang="en"  data-th-replace="~{base :: parent(~{::#content},~{:: title},~{::script})}">
<head>
    <title> Update Contact </title>
    
</head>
<body>
    <div id ="content">
        <!-- user is logged in:sidebar -->
      <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>
      
    <div  class="sm:pl-64 pt-20" >
       <div class="grid grid-cols-12">
        <div class="col-span-3 "></div>
        <div class=" col-span-12 md:col-span-6 ">

            <div class="card p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <div data-th-replace="message::messagebox"></div>
            <H1 class="text-2xl font-semibold">Update Contact</H1>
            <p class="text-gray-500 dark:text-gray-400">This contact will be stored on cloud, you can directly email this client from SCM.</p>
            <form action="" class="mt-6" data-th-action="@{'/user/contacts/update/' + ${contactId}}" data-th-object="${contactForm}" method="post" enctype="multipart/form-data">
            <!-- name form -->
             <div class="mb-6">
                <label for="input-group-1" class="block mb-2 text-sm font-medium text-[15px] text-gray-900 dark:text-white">Contact Name <span class="text-red-600">*</span></label>
                <div class="mb-1 relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                    </svg>
                </div>
                <input data-th-field="*{name}" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name">
                </div>
                <p class="text-red-600 text-sm font-medium" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"></p>
             </div>
             <!-- email form -->
             <div class="mb-6">
                <label for="input-group-1" class="block mb-2 text-sm font-medium text-[15px] text-gray-900 dark:text-white">Contact Email <span class="text-red-600">*</span></label>
                <div class="mb-1 relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                    </svg>
                </div>
                <input type="text" data-th-field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com">
                </div>
                <p class="text-red-600 text-sm font-medium" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"></p>
             </div>
             <!-- phone number form -->
             <div class="mb-6">
                <label for="input-group-1" class="block mb-2 text-sm font-medium text-[15px] text-gray-900 dark:text-white">Contact Phone <span class="text-red-600">*</span></label>
                <div class="mb-1 relative">
               
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                        <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                    </svg>
                </div>
                <input type="text" data-th-field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="9999999999">

                </div>
                <p class="text-red-600 text-sm font-medium" data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}"></p>
             </div>

             <!-- text-area -->
              <div class="mb-6">
                
                <label for="message" class="block mb-2 text-sm font-medium text-[15px] text-gray-900 dark:text-white">Contact Address <span class="text-red-600">*</span></label>
                <textarea data-th-field="*{address}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address of the contact"></textarea>
                <p class="text-red-600 text-sm font-medium" data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}"></p>
              </div>
              <!-- description -->
              <div class="mb-9">
                
                <label for="message" class="block mb-2 text-sm font-medium text-[15px] text-gray-900 dark:text-white">Contact Description</label>
                <textarea data-th-field="*{description}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Description of the contact"></textarea>

              </div>

              <!-- social links -->
               <div class="flex  space-x-3 ">
                <div class="w-full">
                    <!-- website link -->
                    <div>
                        <div class="mb-6 relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                <path d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5l0 39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9l0 39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7l0-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1L257 256c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                            </svg>
                        </div>
                        <input type="text" data-th-field="*{websiteLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://website.com">
                        </div>
                     </div>

                </div>
                <div class="w-full">
                    <!-- LinkedIn link -->
                    <div>
                        <div class="mb-6 relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                                <path  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
                            </svg>
                        </div>
                        <input type="text" data-th-field="*{LinkedInLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://linkedin.com">
                        </div>
                     </div>
                </div>
               </div>
               <!-- Contact Image Field -->
                <div class="mb-5">

                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-[15px]" for="default_size">Contact Image <span class="text-red-600">*</span></label>
                    <input id="image_file_input" data-th-field="*{contactImage}" class="block w-full  text-sm text-gray-500 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  type="file">
                    
                    <p class="text-red-600 text-sm font-medium" data-th-if="${#fields.hasErrors('contactImage')}" data-th-errors="*{contactImage}"></p>
                    <img data-th-src="*{picture}" class="max-h-52 mb-3 mx-auto rounded-lg shadow m-3"  id="upload_image_preview" alt="">
                </div>

               <!-- Favourite checkbox -->
               <div class="flex items-center mb-6">
                <input data-th-field="*{favourite}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-checkbox" class="ms-2 text-[15px] font-medium text-gray-900 dark:text-gray-300">Do you want to add it in favourites?</label>
            </div>

            <div class="button-container text-center">
                <button type="submit" class="px-3 py-2 rounded bg-gray-800 hover:bg-black dark:bg-gray-600 dark:hover:bg-gray-500 text-white"> Update Contact</button>
            </div>
            </form>
        </div>
        </div>
       </div>
    </div>

</div>

<script data-th-src="@{'/js/admin.js'}"></script>
    <script>
        console.log("this is profile page");
    </script>
</body>
</html>